<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven.austin.realtimecoach" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.seven.austin.realtimecoach.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seven.austin.realtimecoach.DiscoveryActivity"
            android:label="@string/find" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seven.austin.realtimecoach.AddPlayerActivity"
            android:label="@string/add_player" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seven.austin.realtimecoach.UpdatePlayerActivity"
            android:label="@string/update_player" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seven.austin.realtimecoach.ServerSocketActivity"
            android:label="@string/server" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
